In [3]:
import pandas as pd

df1 = pd.read_csv('burden-disease-from-each-mental-illness.csv')
df2 = pd.read_csv('death-rate-from-obesity.csv')
df3 = pd.read_csv('death-rate-from-suicides-gho.csv')
df4 = pd.read_csv('poverty-explorer.csv')
df5 = pd.read_csv('share-of-adults-defined-as-obese.csv')

In [25]:

df5 = pd.merge(df1,df2, on=['Entity','Code','Year'])
df5

,Entity,Code,Year,"DALYs from depressive disorders per 100,000 people in, both sexes aged age-standardized","DALYs from schizophrenia per 100,000 people in, both sexes aged age-standardized","DALYs from bipolar disorder per 100,000 people in, both sexes aged age-standardized","DALYs from eating disorders per 100,000 people in, both sexes aged age-standardized","DALYs from anxiety disorders per 100,000 people in, both sexes aged age-standardized","Deaths that are from all causes attributed to high body-mass index per 100,000 people, in both sexes aged age-standardized"
0,Afghanistan,AFG,1990,895.22565,138.248250,147.64412,26.471115,440.33000,132.738420
1,Afghanistan,AFG,1991,893.88434,137.761220,147.56696,25.548681,439.47202,129.628140
2,Afghanistan,AFG,1992,892.34973,137.080300,147.13086,24.637949,437.60718,126.575280
3,Afghanistan,AFG,1993,891.51587,136.486020,146.78812,23.863169,436.69104,124.934814
4,Afghanistan,AFG,1994,891.39160,136.183230,146.58481,23.189074,436.76800,123.903960
...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,546.46204,127.108720,115.32073,20.423056,302.20868,93.578800
6836,Zimbabwe,ZWE,2016,547.27765,127.142105,114.98700,20.647228,302.68216,94.730930
6837,Zimbabwe,ZWE,2017,547.62270,127.465050,115.32798,20.791725,302.88626,95.499210
6838,Zimbabwe,ZWE,2018,546.57184,127.681210,115.42796,20.916480,301.58250,96.145004
6839,Zimbabwe,ZWE,2019,544.53160,128.216030,115.38145,21.011127,298.20325,96.988290

In [30]:
df4.columns

Index(['Country', 'Year', 'Share below $1 a day', 'Share below $2.15 a day',
       'Share below $3.65 a day', 'Share below $6.85 a day',
       'Share below $10 a day', 'Share below $20 a day',
       'Share below $30 a day', 'Share below $40 a day',
       ...
       'decile8_avg', 'decile9_avg', 'decile10_avg', 'bottom50_share',
       'middle40_share', 'palma_ratio', 's80_s20_ratio', 'p90_p10_ratio',
       'p90_p50_ratio', 'p50_p10_ratio'],
      dtype='object', length=109)

In [31]:
pd.read_csv('population.csv')

            Entity Code   Year  Population (historical estimates)
0      Afghanistan  AFG -10000                              14737
1      Afghanistan  AFG  -9000                              20405
2      Afghanistan  AFG  -8000                              28253
3      Afghanistan  AFG  -7000                              39120
4      Afghanistan  AFG  -6000                              54166
...            ...  ...    ...                                ...
58247     Zimbabwe  ZWE   2017                           14751101
58248     Zimbabwe  ZWE   2018                           15052191
58249     Zimbabwe  ZWE   2019                           15354606
58250     Zimbabwe  ZWE   2020                           15669663
58251     Zimbabwe  ZWE   2021                           15993525

[58252 rows x 4 columns]